.menu .item li:nth-child(1) a{
    color: var(--color-one);
}
.menu .item li:nth-child(1) i{
    color: var(--color-one);
}
.container{
    max-width: 95%;
}
.wrap-background{
	margin-top:20px;
	margin-bottom:20px;
	border: 1px solid #eee;
    padding: 10px 30px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
body{
    width: 100%;
    background: white;
    position: relative;
    display: flex;
    font-family:--text;
}

/* main */


.container .inner-box{
    display: flex;
    width: auto;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    border:3px solid var(--color-one);
}


.container .inner-box i{
    background: var(--color-one);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px 12px;
    border: 1px solid var(--color-text);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-two);
}

.container .card{
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.card .img-fluid {
    transition: transform 0.5s ease;
}

.card:hover .img-fluid {
    transform: scale(1.1);
}

.container .card-body a{
    display: inline-block;
    font-weight:500 ;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    font-size: 15px;
    justify-content: center;
    margin-left: 60px;
    background: var(--color-one);
    color: white;
    border-radius: 10px;
}
.container .card-body ul{
    display: block;
    padding-inline-start: 0;
    border-radius: 10px;

}

.container .card-body img{
    border-radius: 10px;
}
.container .card-body .btn:hover{
    background:var(--color-one);
    color: var(--color-two);
    font-weight: 500;
}
.container .col-3{
    padding-bottom: 20px;
}
/* last */
.container.last-main{
    overflow: auto;
    background: white;
}
.last-main img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

}
.last-main.people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
.main .inner-main:hover{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
     transition: all 0.5s;
 }
 .main a:hover{
    text-decoration: none;
 }
 .main .inner-img img{
     width: 100%;
     height: auto;
     aspect-ratio: 12/7;
     object-fit:cover;
     position: relative;
 }

.main .inner-price {
    color: #fff;
    background-color: var(--color-one);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 36px;
    padding-right: 20px;
    padding-left: 5px;
}

.main .inner-price::before {
    position: absolute;
    content: "";
    left: -32px;
    top: 0;
    border: 18px solid var(--color-one);
    border-left-color: transparent;
    border-left-color: transparent;
}
 .main .inner-img{
     position: relative;
 }
 .main .inner-img .inner-price{
     position: absolute; 
 }
 .main .inner-main h2{
     color: var(--color-two);
     font-weight: 600;
     font-size: 20px;
     margin: 10px;
 }
 .main .inner-main .inner-desc{
     font-weight: 500;
     font-size: 16px;
     margin: 10px;
     color: var(--color-text);
 }
 .main .inner-main {
     border: 1px solid #eee;
     margin: 10px 5px;
     transition: 0.8s;
     /* position: relative; */
 }
 .main .inner-main:hover{
     transform: scale(1.05);
 }
 .main .quality {
     color: var(--color-text);
     margin: 10px;
 }
 .main .inner-main:hover .inner-title{
     color: var(--color-one);
 }
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    cursor: pointer;
}
table{
    border-collapse: collapse;

}
tr{
    border-bottom: 1px solid var(--color-one);
}
td, th {
    vertical-align: middle; /* Đảm bảo các phần tử trong hàng được căn giữa theo chiều dọc */
}

.Active p{
    background-color: greenyellow;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: var(--color-two);
}
.Inactive p{
    background-color: orangered;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: var(--color-two);
}

/* end */

/* end main */
