	/* header */
    header .button:hover{
        background: var(--color-one);
        transition: all 0.8s;
    }
    header .button{
        display: inline-block;
        padding: 4px 20px;
        background: white;
        color: var(--color-one);
        border: 2px solid #fff;
        border-radius: 7px;
    }
    .header{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        /* position: fixed; */
        position: sticky;
        z-index: 99;
        top: -50.7px;
        /* top:0;
        left: 0; */
        width: 100%;
        background: #fff;
    }


    /* header-top */
    header.header.hidentop{
        top:-50.7px;
    }
    header .top-header{
        background: var(--color-one);
        padding: 10px 0;
        font-size: 13px;
        font-weight: 600;
    }
    header .top-header .inner-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header  ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    header .top-header ul li a{
        color: var(--color-one);
        background: #fff;
        margin: 10px;
        padding: 3px 6px;
        border-radius: 3px;
    }
    /* header .top-header ul li:hover{
        transform: translateY(-10px);
        transition: all 0.5s;
    } */
    header .top-header ul li span{
        color: #fff;
    }
    header .inner-wrap .inner-button a{
        color: #fff
    }
    header .inner-wrap .inner-button .button-one{
        color: var(--color-one);
        margin-left: 15px;
    }
    header .inner-wrap .inner-button .button-one:hover{
        color: #fff
    }
    /* end header-top */

    /* header-main */
        header .main-header .inner-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        header .inner-main .inner-logo img{
            height: 40px;
            width: auto;
        }
        header .inner-main{
            padding:20px 0;
        }
        .header .inner-main .inner-menu ul li{
            margin: 15px;
        }
        .header .inner-main ul a{
            font-size: 18px;
            color: var(--color-two);
            font-weight: 600;
            text-decoration: none;
            text-wrap: nowrap;
        }
        .header .inner-main ul a:hover{
            color: var(--color-one);
            transition: all 0.3s;
        }

        header .inner-user .inner-img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
        }
        header .inner-user .inner-img img{
            width: 100%;
            height: auto;
            object-fit:cover;
            aspect-ratio: 1/1;
        }
    /* end header-main */
    /* end header */

    /* welcome */
    .welcome{
    background-image: url(https://demo.graygrids.com/themes/edugrids/assets/images/breadcrumb/breadcrumb-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0;
    /* z-index: 2; */
    overflow: hidden;
    text-align: center;
    }
    .welcome::before{
        content: "";
        background: #081828;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        opacity: 0.8;
    }
    .welcome .col-12{
        display: flex;
        justify-content: center;
    }
    .welcome .inner-main{
        position: relative;
        text-align: center;
        max-width: 65%;
    }
    .welcome .inner-title{
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        margin-top: 15px;
    }
    .welcome .inner-desc{
        margin-top: 20px;
        color: #fff;
    }
    .welcome .inner-bar{
        display: inline-block;
        padding-top: 5px;
        padding-right: 40px;
        padding-left: 40px;
        background:var(--color-one);
        border-radius: 14px;
    }
    .welcome .button-two{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 45px;
        background: #fff;
        position: relative;
        overflow: hidden;
        margin: 5px;
    }
    .welcome .button-two::before{
        content: "";
        width: 130px;
        height: 45px;
        background: var(--color-one);
        position: absolute;
        left: -130px;
        transition: all 0.7s;
    }
    .welcome .button-two:hover::before{
        transform: translateX(130px);
    }
    .welcome .button-2{
        background: var(--color-one);
    }
    .welcome .button-2::before{
        background: #fff;
    }
    .welcome .inner-button a {
        position: relative;
        z-index: 10;
        width: 130px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcome .inner-button .button1{
        color: var(--color-two);
        font-size: 15px;
        font-weight: 600;
    }
    .welcome .inner-button .button1:hover{
        color: #fff;
        transition: all 0.7s;
    }
    .welcome .inner-button .button2{
        color: #fff;
        font-size: 15px;
        font-weight: 600;
    }
    .welcome .inner-button .button2:hover{
        color: var(--color-two);
        transition: all 0.7s;
    }
    /* end welcome */

    /*tests*/
    .tests{
        margin-top: 100px;
        /* padding-top: 50px; */
        padding-bottom: 100px;
        /* background: #dcffe3; */
    }
    .tests .col-xl-3{
        margin-bottom: 20px;
    }
    .tests .col-xl-3 .inner-wrap{
        min-height: 100px;
        height: 100%;
        border: 1px solid #eee;
        padding:20px;
        transition: all 0.8s;
        box-shadow: 0 4px 0 0 rgba(143,156,173,.2);
        border-radius: 20px;
        background: #fff;
        position: relative;
    }
    .tests .inner-wrap:hover{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.07);
    }
    .tests .inner-add{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;
    }
    .tests .inner-add i{
        font-size: 50px;
    }
    .tests .inner-img img{
        width: 100%;
        height: auto;
        aspect-ratio: 12/7;
        object-fit:cover;
    }
    .tests .inner-content{
        height:min-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .tests .inner-content .inner-listname{
        margin: 0;
        color: var(--color-two);
        font-weight: 600;
        font-size: 20px;
        margin-top: 15px;
    }
    .tests .inner-content .inner-desc{
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        color: var(--color-two);
        margin-top: 15px;
    }
    .tests .inner-wrap .inner-number{
        font-size: 14px;
        color: var(--color-text);
        padding-top:5px;
        border-top: 1px solid #eee;
        position: absolute;
        bottom: 10px;
        width: calc(100% - 40px);
    }
    .tests .inner-wrap .inner-number p{
        margin: 0;
    }
     
     .tests .button-detail{
     	width: 100%;
     	color: var(--color-two);
     	margin-top: 15px;
     	margin-bottom: 15px;
     	padding-top: 5px;
     	padding-bottom: 5px;
     	border-radius: 10px;
     	background-color: #fff;  
     	font-weight: 500; 
     }
     
    .tests .button-detail:hover{
     	color: #fff;
     	background-color: var(--color-two);     
     }
    /*end tests*/

          /* footer */

          footer{
            margin-top: 150px;
            padding-top: 100px;
            border-top: 1px solid #eee;
        }
        footer .inner-img img{

            width: 70%;
            height: auto;
        }
        footer .inner-intro .inner-desc{
            margin-top: 15px;
        }
        footer .inner-intro .inner-list ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
        }
        footer .inner-intro .inner-list ul i{
            padding: 15px;
            background: #eee;
            margin-right: 10px;
            border-radius: 50%;
        }
        footer .inner-box h3{
            color: black;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 15px;
        }
        footer .inner-box a{
            color:var(--color-text);
            display: block;
            margin-top: 10px;
        }
        footer .inner-box a:hover{
            color: var(--color-one);
        }
        footer .bottom-footer{
            margin-top: 100px;
            background: var(--color-one);
            display: flex;
            justify-content: center;
            align-items: center;
            padding:20px 0;
        }
        footer .bottom-footer p{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        /*end footer */

        /* modal  */
        .list-vocab .modal .modal-header{
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--color-one);
        }
        .list-vocab .modal-header h5{
            color: var(--color-two);
            font-size: 25px;
            font-weight: 800;
            margin: 0;
        }
        .list-vocab .close{
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 30px;
        }
        .list-vocab .close:hover{
            color: red;
            transform: scale(1.2);
            transition: all 0.2s;
        }
        .list-vocab .modal .form-group{
            display: inline-flex;
            flex-direction: column;
            padding-left: 10%;
        }
        .list-vocab .modal .form-group label{
            color: var(--color-two);
        }
        .list-vocab .modal .form-group input{
            margin-bottom: 20px;
        }
        .list-vocab .modal .form-group textarea{
            margin-bottom: 20px;
        }
        .list-vocab .modal button{
            background-color: var(--color-one);
            border: 0;
            padding:5px 20px;
            border-radius: 20px;
        }
        /* end  modal  */

