.container{
    max-width: 768px;
}
    header .container{
        max-width: 1296px;
    }
    /* header */
    header .button:hover{
        background: var(--color-one);
        transition: all 0.8s;
    }
    header .button{
        display: inline-block;
        padding: 4px 20px;
        background: white;
        color: var(--color-one);
        border: 2px solid #fff;
        border-radius: 7px;
    }
    .header{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        /* position: fixed; */
        position: sticky;
        z-index: 99;
        top: -50.7px;
        /* top:0;
        left: 0; */
        width: 100%;
        background: #fff;
    }


    /* header-top */
    header.header.hidentop{
        top:-50.7px;
    }
    header .top-header{
        background: var(--color-one);
        padding: 10px 0;
        font-size: 13px;
        font-weight: 600;
    }
    header .top-header .inner-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header  ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    header .top-header ul li a{
        color: var(--color-one);
        background: #fff;
        margin: 10px;
        padding: 3px 6px;
        border-radius: 3px;
    }
    /* header .top-header ul li:hover{
        transform: translateY(-10px);
        transition: all 0.5s;
    } */
    header .top-header ul li span{
        color: #fff;
    }
    header .inner-wrap .inner-button a{
        color: #fff
    }
    header .inner-wrap .inner-button .button-one{
        color: var(--color-one);
        margin-left: 15px;
    }
    header .inner-wrap .inner-button .button-one:hover{
        color: #fff
    }
    /* end header-top */

    /* header-main */
        header .main-header .inner-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        header .inner-main .inner-logo img{
            height: 40px;
            width: auto;
        }
        header .inner-main{
            padding:20px 0;
        }
        .header .inner-main .inner-menu ul li{
            margin: 15px;
        }
        .header .inner-main ul a{
            font-size: 18px;
            color: var(--color-two);
            font-weight: 600;
            text-decoration: none;
            text-wrap: nowrap;
        }
        .header .inner-main ul a:hover{
            color: var(--color-one);
            transition: all 0.3s;
        }

        header .inner-user .inner-img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
        }
        header .inner-user .inner-img img{
            width: 100%;
            height: auto;
            object-fit:cover;
            aspect-ratio: 1/1;
        }
    /* end header-main */
    /* end header */


    .inner-title{
        margin-top: 50px;
        color: black;
        font-size: 32px;
        font-weight: 600;
    }
    .inner-desc{
        font-size: 16px;
    }

    .insert{
        margin-top: 20px;
        display: inline-block;
        padding: 7px 25px;
        background:var(--color-one);
        color: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        font-weight: 600;
        border: 1px solid #fff;
    }
    .insert:hover{
        background: #fff;
        border-color: var(--color-one) ;
        color: #00a463;
    }
    .inner-train{
        margin-top: 50px;
        display: inline-block;
        width: 100%;
        background: #dcffe3 ;
        color:black;
        border: 1px solid var(--color-one);
        text-align: center;
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        /* transition: all 0.3s; */
    }
    .inner-train:hover{
        color: #fff;
        background: var(--color-one);
        border-color: black;
    }
    .inner-number{
        margin-top: 30px;
    }
    .vocab .inner-wrap{
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #eee;
        border-radius: 10px;
        box-shadow: 0 4px 0 0 rgba(143,156,173,.2);
        color: black;
        position: relative;
    }
    .vocab .inner-wrap h2{
        font-size: 21px;
        margin-top: 10px;
    }
    .vocab .inner-wrap h2 .audio{
        margin: 10px;
        padding:5px;
        background: #dcffe3;
        border-radius: 50%;
        color: var(--color-one);
    }
    .vocab .inner-wrap h3{
        margin-top: 20px;
        font-size: 16px;
    }
       .vocab .inner-main{
        display: flex;
        justify-content: space-between;

    }
    .vocab .inner-main .inner-img{
        width: 30%;
        margin-top: 10px;
        margin-right: 10px;
    }
    .vocab .inner-main .inner-img img{
        width: 100%;
        height: auto;
        object-fit:cover;
        aspect-ratio: 4/3;
    }
    .vocab .inner-wrap .delete{
        text-align:right;
    }
    .vocab .inner-wrap .delete i{
        color: red;
        font-size: 18px;
        cursor: pointer;
        margin-right: 10px;
    }
    .vocab .button-submit{
        position: absolute;
        z-index: 2;
        right:10px;
        opacity: 0;
        font-size: 10px;
    }


   .modal-form .modal-header {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        position: relative;
    }
    
  .modal-form .modal-header .close {
        position: absolute;
        top: -2px;
        right: -2px;
        opacity: .5;
        background-color: black;
        color: aliceblue;
        border-radius: 50%;
        /* padding: 10px; */
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .modal-form .modal-header .inner-image {
        height: 40px;
        width: auto;
        margin-bottom: 6px;
    }
    
    .modal-content .button {
        background: -webkit-linear-gradient(-30deg, #a2ffd8, #00a463 100%);
        color: #fff;
        border-radius: 10px;
        border: 1px solid;
        padding: 10px 30px;
        width: 100%;
        font-weight: 600;
    }
    .modal-form .modal-content {
        border-radius: 10px;
    }
    
    textarea {
        width: 100%;
        height: 200px;
    }
    .modal-header h5{
        margin: 0;
        color: var(--color-one);
        padding: 0;
    }
     .modal-header {
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
















              /* footer */

              footer{
                margin-top: 150px;
                padding-top: 100px;
                border-top: 1px solid #eee;
            }
            footer .inner-img img{
    
                width: 70%;
                height: auto;
            }
            footer .inner-intro .inner-desc{
                margin-top: 15px;
            }
            footer .inner-intro .inner-list ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
            }
            footer .inner-intro .inner-list ul i{
                padding: 15px;
                background: #eee;
                margin-right: 10px;
                border-radius: 50%;
            }
            footer .inner-box h3{
                color: black;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 15px;
            }
            footer .inner-box a{
                color:var(--color-text);
                display: block;
                margin-top: 10px;
            }
            footer .inner-box a:hover{
                color: var(--color-one);
            }
            footer .bottom-footer{
                margin-top: 100px;
                background: var(--color-one);
                display: flex;
                justify-content: center;
                align-items: center;
                padding:20px 0;
            }
            footer .bottom-footer p{
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
            }
            /*end footer */